{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- ======= Intro Section ======= -->
  <div class="intro intro-carousel swiper position-relative">

    <div class="swiper-wrapper">

      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url({% static 'assets/img/slide-4.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">São Sebastião
                    </p>
                    <h1 class="intro-title mb-4 ">
                      <span class="color-b">Condomínio</span> Oásis
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url({% static 'assets/img/slide-5.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">São Sebastião
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Condomínio </span>
                      <br> New Concept
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% comment %}
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url({% static 'assets/img/slide-6.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">São Sebastião
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Casa </span> Maresias
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url({% static 'assets/img/slide-7.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">São Sebastião
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Maresias </span> Pé na Areia
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
    </div>
    <div class="swiper-pagination"></div>
  </div><!-- End Intro Section -->

  <main id="main">

    <section class="section-services section-t8">
      <div class="container">
        <div class="col-md-12 position-relative">
        <div class="row">
          <div class="col-md-5">
            <img src="{% static 'assets/img/about-1.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="col-md-7">
            <div class="title-box-d">
              <h2 class="title-a">Quem <span class="color-d">somos</span>?
              </h2>
            </div>
            <p class="color-text-a">
              Somos um grupo de apaixonados pelo litoral Norte e suas praias deslumbrantes. Há mais de 15 anos, temos nos dedicado ao desenvolvimento do mercado imobiliário, guiados pela consciência, qualidade e respeito tanto pelos nossos clientes quanto pelo lugar que escolhemos chamar de lar e trabalho.
            </p>
            <p class="color-text-a">
              Durante esses anos, buscamos aliar nossa vasta experiência com criatividade e ousadia, não apenas para construir e incorporando condomínios, mas para realizar sonhos. Nosso diferencial reside em nosso profundo conhecimento de cada canto, cada praia, compreendendo suas vocações e necessidades de maneira única.
            </p>
            <p class="color-text-a">
              Priorizamos a qualidade, o comprometimento e a sustentabilidade em tudo o que fazemos. Nossos imóveis não são apenas fontes de alegria; eles também proporcionam confiança e liquidez, preservando a natureza, a cultura e as histórias do nosso tão rico, porém frágil, litoral Norte.
            </p>
            <p class="color-text-a">
              Além disso, oferecemos um serviço exclusivo de gestão e locação para os imóveis adquiridos em nossos empreendimentos ou mediante consulta. Venha nos conhecer e faça parte do nosso grupo, onde cada empreendimento é mais do que uma construção; é um convite para viver experiências únicas à beira-mar.
            </p>
            <p class="color-text-a">
              ... em breve novidades por aqui... Aguardem!
            </p>
            <br>
            <div class="card-footer-c">
              <a href="{% url 'about' %}" class="link-c link-icon">Saiba mais sobre nossa história
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
        </div>
        </div>
      </div>
      </div>
    </section>

    <!-- ======= Services Section ======= -->
    <section class="section-services section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Nossos serviços</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <!-- <div class="card-box-ico">
                  <span class="bi bi-cart"></span>
                </div> -->
                <div class="card-title-c align-self-center">
                  <h2 class="title-d text-muted">Desenvolvimento imobiliário</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  Na 20 Pés, destacamo-nos não apenas como um grupo especializado no desenvolvimento de condomínios de alta qualidade e bom gosto, mas como uma oportunidade única de investimento e estilo de vida. Durante nossos anos de atuação, sempre priorizamos o primor na construção e nos projetos com nosso DNA exclusivo, que harmoniza as necessidades do mercado com as expectativas de nossos clientes.
                </p>
                <p class="content-c">
                  Com um grupo seleto dos melhores parceiros, realizamos nossos projetos buscando sempre estar um passo à frente do nosso tempo. Cada empreendimento que desenvolvemos incorpora nossos valores e nossa vasta experiência, proporcionando não apenas uma propriedade, mas uma experiência completa.
                </p>
                {% comment %}
                <p class="content-c">
                  Com mais de 15 anos de expertise, a 20 Pés se consagra como uma sólida opção de investimento no litoral Norte de São Paulo, transformando ativos em oportunidades lucrativas, garantindo aos clientes não apenas uma residência, mas um investimento seguro e rentável.
                </p>
                {% endcomment %}
              </div>
              <div class="card-footer-c">
                <a href="{% url 'propertydevelopment' %}" class="link-c link-icon">Saiba mais
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <!-- <div class="card-box-ico">
                  <span class="bi bi-calendar4-week"></span>
                </div> -->
                <div class="card-title-c align-self-center">
                  <h2 class="title-d text-muted">Gestão e Locação</h2>
                </div>
              </div>
              <div class="card-body-c">
                <!-- <p class="content-c">Na 20 Pés, nossa expertise vai além da simples construção. Destacamo-nos por oferecer serviços que transcendem, incorporando um estilo único em cada empreendimento, transformando não apenas propriedades, mas também proporcionando experiências de vida verdadeiramente memoráveis.</p> -->
                <p class="content-c">Além de concretizar sonhos através da construção inovadora, a 20 Pés se destaca na gestão e locação de propriedades. Oferecemos aos proprietários a tranquilidade de terem seus ativos geridos por ferramentas eficazes. Não se trata apenas de criar momentos especiais, mas também de garantir bons lucros mensais.</p>
                <!-- <p class="content-c">Ao escolher a 20 Pés, você investe não apenas em um lar, mas em uma abordagem completa que une construção de qualidade a uma gestão eficiente. Proporcionamos não apenas um lugar para morar, mas um investimento que se traduz em experiências únicas e retornos financeiros consistentes. Conheça nossos empreendimentos e descubra como a 20 Pés pode transformar seus sonhos em realidade e rentabilidade.</p> -->
              </div>
              <div class="card-footer-c">
                <a href="{% url 'property-grid' %}" class="link-c link-icon">Saiba mais
                  <span class="bi bi-calendar4-week"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Latest Properties Section ======= -->
    <section class="section-property section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Destaques</h2>
              </div>
              <div class="title-link">
                <a href="{% url 'property-grid' %}">Mostrar todos
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="property-carousel" class="swiper">
          <div class="swiper-wrapper">

            {% if imoveis %}
            {% for i in imoveis %}
            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="/media/{{ i.imagem }}" alt="" class="img-a img-fluid" style="height: 400px;">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="{% url 'property-single' slug=i.slug %}">{{ i.titulo }}
                          {% if i.cidade %}
                            <br />{{ i.cidade|default:"" }}-{{ i.uf|default:"" }}</a>
                        {% endif %}
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <a href="{% url 'property-single' slug=i.slug %}" class="link-a">Saiba mais
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    {% comment %}
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        {% if i.area %}
                        <li>
                          <h4 class="card-info-title">Area</h4>
                          <span>{{ i.area }}m
                            <sup>2</sup>
                          </span>
                        </li>
                        {% endif %}
                        <li>
                          <h4 class="card-info-title">Quartos</h4>
                          <span>{{ i.quartos|default:"-" }}</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Banheiros</h4>
                          <span>{{ i.banheiros|default:"-" }}</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Garagens</h4>
                          <span>{{ i.vagas_garagem|default:"Não" }}</span>
                        </li>
                      </ul>
                    </div>
                    {% endcomment %}
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->
            {% endfor %}
            {% else %}
            <div class="course-content">
                <div class="d-flex justify-content-between text-center m-4">
                <h1 class="text-center">Nenhum produto encontrado nesta categoria.</h1>
                </div>
            </div>
          {% endif %}

          </div>
        </div>
        <div class="propery-carousel-pagination carousel-pagination"></div>

      </div>
    </section><!-- End Latest Properties Section -->

  </main><!-- End #main -->
  {% endblock %}
