{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- ======= Intro Section ======= -->
  <div class="intro intro-carousel swiper position-relative">

    <div class="swiper-wrapper">

      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url({% static 'assets/img/slide-4.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">São Sebastião
                    </p>
                    <h1 class="intro-title mb-4 ">
                      <span class="color-b">Condomínio</span> Oásis
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url({% static 'assets/img/slide-5.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">São Sebastião
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Condomínio </span>
                      <br> New Concept
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% comment %}
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url({% static 'assets/img/slide-6.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">São Sebastião
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Casa </span> Maresias
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url({% static 'assets/img/slide-7.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">São Sebastião
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Maresias </span> Pé na Areia
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
    </div>
    <div class="swiper-pagination"></div>
  </div><!-- End Intro Section -->

  <main id="main">

    <section class="section-services section-t8">
      <div class="container">
        <div class="col-md-12 position-relative">
        <div class="row">
          <div class="col-md-4">
            <img src="{% static 'assets/img/about-1.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="col-md-8">
            <div class="title-box-d">
              <h2 class="title-a">Um pouco
                <span class="color-d">sobre</span> nossa história.
              </h2>
            </div>
            <p class="color-text-a">
              Nós somos a 20 Pés, uma empresa que constrói sonhos e entrega resultados.
            </p>
            <p class="color-text-a">
              Com mais de 15 anos de atuação no litoral Norte de São Paulo, nós desenvolvemos condomínios, transformando ativos em excelentes oportunidades de negócios.
            </p>
            <p class="color-text-a">
              Nossa experiência vai além do básico, buscando sempre adequar cada realidade a ótimas oportunidades. Conheça os nossos serviços e tenha conosco um parceiro que vai rentabilizar a sua tranquilidade.
            </p>
            <p class="color-text-a">
              Não seria nada mal ter uma casa nas badaladas praias do litoral norte de São Paulo e, assim, contar com alguém que cuidará de tudo para que, no final do mês, além de momentos especiais, você tenha um ativo que, bem trabalhado por nossas ferramentas de aluguéis e gestão, proporcionará não apenas alegrias, mas também bons lucros!
            </p>
          </div>
        </div>
      </div>
      </div>
    </section>

    <!-- ======= Services Section ======= -->
    <section class="section-services section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Nossos serviços</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <!-- <div class="card-box-ico">
                  <span class="bi bi-cart"></span>
                </div> -->
                <div class="card-title-c align-self-center">
                  <h2 class="title-d text-muted">Desenvolvimento imobiliário</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  Com mais de 15 anos de expertise, a 20 Pés se consagra como uma sólida opção de investimento no litoral Norte de São Paulo, transformando ativos em oportunidades lucrativas, garantindo aos clientes não apenas uma residência, mas um investimento seguro e rentável.
                </p>
              </div>
              <div class="card-footer-c">
                <a href="{% url 'propertydevelopment' %}" class="link-c link-icon">Saiba mais
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <!-- <div class="card-box-ico">
                  <span class="bi bi-calendar4-week"></span>
                </div> -->
                <div class="card-title-c align-self-center">
                  <h2 class="title-d text-muted">Gestão e Locação</h2>
                </div>
              </div>
              <div class="card-body-c">
                <!-- <p class="content-c">Na 20 Pés, nossa expertise vai além da simples construção. Destacamo-nos por oferecer serviços que transcendem, incorporando um estilo único em cada empreendimento, transformando não apenas propriedades, mas também proporcionando experiências de vida verdadeiramente memoráveis.</p> -->
                <p class="content-c">Além de concretizar sonhos através da construção inovadora, a 20 Pés se destaca na gestão e locação de propriedades. Oferecemos aos proprietários a tranquilidade de terem seus ativos geridos por ferramentas eficazes. Não se trata apenas de criar momentos especiais, mas também de garantir bons lucros mensais.</p>
                <!-- <p class="content-c">Ao escolher a 20 Pés, você investe não apenas em um lar, mas em uma abordagem completa que une construção de qualidade a uma gestão eficiente. Proporcionamos não apenas um lugar para morar, mas um investimento que se traduz em experiências únicas e retornos financeiros consistentes. Conheça nossos empreendimentos e descubra como a 20 Pés pode transformar seus sonhos em realidade e rentabilidade.</p> -->
              </div>
              <div class="card-footer-c">
                <a href="{% url 'property-grid' %}" class="link-c link-icon">Saiba mais
                  <span class="bi bi-calendar4-week"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Latest Properties Section ======= -->
    <section class="section-property section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Destaques</h2>
              </div>
              <div class="title-link">
                <a href="{% url 'property-grid' %}">Mostrar todos
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="property-carousel" class="swiper">
          <div class="swiper-wrapper">

            {% if imoveis %}
            {% for i in imoveis %}
            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="/media/{{ i.imagem }}" alt="" class="img-a img-fluid" style="height: 400px;">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="{% url 'property-single' slug=i.slug %}">{{ i.titulo }}
                          {% if i.cidade %}
                            <br />{{ i.cidade|default:"" }}-{{ i.uf|default:"" }}</a>
                        {% endif %}
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <a href="{% url 'property-single' slug=i.slug %}" class="link-a">Saiba mais
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    {% comment %}
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        {% if i.area %}
                        <li>
                          <h4 class="card-info-title">Area</h4>
                          <span>{{ i.area }}m
                            <sup>2</sup>
                          </span>
                        </li>
                        {% endif %}
                        <li>
                          <h4 class="card-info-title">Quartos</h4>
                          <span>{{ i.quartos|default:"-" }}</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Banheiros</h4>
                          <span>{{ i.banheiros|default:"-" }}</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Garagens</h4>
                          <span>{{ i.vagas_garagem|default:"Não" }}</span>
                        </li>
                      </ul>
                    </div>
                    {% endcomment %}
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->
            {% endfor %}
            {% else %}
            <div class="course-content">
                <div class="d-flex justify-content-between text-center m-4">
                <h1 class="text-center">Nenhum produto encontrado nesta categoria.</h1>
                </div>
            </div>
          {% endif %}

          </div>
        </div>
        <div class="propery-carousel-pagination carousel-pagination"></div>

      </div>
    </section><!-- End Latest Properties Section -->

  </main><!-- End #main -->
  {% endblock %}
