{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- ======= Intro Section ======= -->
  <div class="intro intro-carousel swiper position-relative">

    <div class="swiper-wrapper">

      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url({% static 'assets/img/slide-4.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">São Sebastião
                    </p>
                    <h1 class="intro-title mb-4 ">
                      <span class="color-b">Condomínio</span> Oásis
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url({% static 'assets/img/slide-5.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">São Sebastião
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Condomínio </span>
                      <br> New Concept
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url({% static 'assets/img/slide-6.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">São Sebastião
                      <br> 78345
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Casa </span> Maresias
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div><!-- End Intro Section -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section class="section-services section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Nossos serviços</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-cart"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Estilo</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  A 20 Pés destaca-se por oferecer serviços que transcendem a simples construção, incorporando um estilo único em cada empreendimento, proporcionando não apenas moradias, mas verdadeiras experiências de vida.
                </p>
              </div>
              <div class="card-footer-c">
                <a href="{% url 'about' %}" class="link-c link-icon">Saiba mais
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-calendar4-week"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Investimentos</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  Com mais de 15 anos de expertise, a 20 Pés se consagra como uma sólida opção de investimento no litoral Norte de São Paulo, transformando ativos em oportunidades lucrativas, garantindo aos clientes não apenas uma residência, mas um investimento seguro e rentável.
                </p>
              </div>
              <div class="card-footer-c">
                <a href="{% url 'about' %}" class="link-c link-icon">Saiba mais
                  <span class="bi bi-calendar4-week"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-card-checklist"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Locação</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  Além de construir sonhos, a 20 Pés também se destaca na gestão e locação de propriedades, oferecendo aos proprietários a tranquilidade de terem seus ativos geridos por ferramentas eficazes, resultando não apenas em momentos especiais, mas também em bons lucros mensais.
                </p>
              </div>
              <div class="card-footer-c">
                <a href="{% url 'about' %}" class="link-c link-icon">Saiba mais
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Latest Properties Section ======= -->
    <section class="section-property section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Destaques</h2>
              </div>
              <div class="title-link">
                <a href="{% url 'property-grid' %}">Mostrar todos
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="property-carousel" class="swiper">
          <div class="swiper-wrapper">

            {% if imoveis %}
            {% for i in imoveis %}
            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="/media/{{ i.imagem }}" alt="" class="img-a img-fluid" style="height: 400px;">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="{% url 'property-single' slug=i.slug %}">{{ i.titulo }}
                          {% if i.cidade %}
                            <br />{{ i.cidade|default:"" }}-{{ i.uf|default:"" }}</a>
                        {% endif %}
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <a href="{% url 'property-single' slug=i.slug %}" class="link-a">Saiba mais
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Area</h4>
                          <span>{{ i.area }}m
                            <sup>2</sup>
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Quartos</h4>
                          <span>{{ i.quartos }}</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Banheiros</h4>
                          <span>{{ i.banheiros }}</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Garagens</h4>
                          <span>{{ i.vagas_garagem }}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->
            {% endfor %}
            {% else %}
            <div class="course-content">
                <div class="d-flex justify-content-between text-center m-4">
                <h1 class="text-center">Nenhum produto encontrado nesta categoria.</h1>
                </div>
            </div>
          {% endif %}

          </div>
        </div>
        <div class="propery-carousel-pagination carousel-pagination"></div>

      </div>
    </section><!-- End Latest Properties Section -->

  </main><!-- End #main -->
  {% endblock %}
