{% extends 'base.html' %}

{% load static %}
{% load tag_utils %}

{% block content %}

<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">{{ property.titulo }}</h1>
              {% if property.cidade %}
              <span class="color-text-a">{{ property.cidade|default:"" }}-{{ property.uf|default:"" }}</span>
              {% endif %}
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="property-grid.html">Imóveis</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{ property.titulo }}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Single ======= -->
    <section class="property-single nav-arrow-b">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div id="property-single-carousel" class="swiper">
              <div class="swiper-wrapper text-center">
                {% if property.galeria_imagens.all %}
                  {% for i in property.galeria_imagens.all %}
                    <div class="carousel-item-b swiper-slide">
                      <img src="{{ i.imagem.url }}" alt="" style="height: 640px;">
                      {% comment %}<img src="{{ i.imagem.thumb.url }}" alt="" style="height: 640px;">{% endcomment %}
                      <br /><small>{{ i.descricao }}</small>
                    </div>
                  {% endfor %}
                {% else %}
                  <div class="carousel-item-b swiper-slide">
                    <img src="{{ property.imagem.url }}" alt="" style="height: 640px;">
                    <br /><small>{{ property.titulo }}</small>
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="property-single-carousel-pagination carousel-pagination"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">

            <div class="row justify-content-between">
              <div class="col-md-5 col-lg-4">
                <div class="property-summary">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="title-box-d section-t3">
                        <h3 class="title-d">Detalhes</h3>
                      </div>
                    </div>
                  </div>
                  <div class="summary-list">
                    <ul class="list">
                      <li class="d-flex justify-content-between">
                        <strong>Código:</strong>
                        <span>{{ property.pk }}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Localização:</strong>
                        <span>{{ property.cidade|default:"" }}-{{ property.uf|default:"" }}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Mobiliado:</strong>
                        <span>{{ property.mobiliado|yesno:"Sim,Não" }}</span>
                      </li>
                      {% if property.area %}
                      <li class="d-flex justify-content-between">
                        <strong>Area:</strong>
                        <span>{{ property.area|default:"-" }}m
                          <sup>2</sup>
                        </span>
                      </li>
                      {% endif %}
                      <li class="d-flex justify-content-between">
                        <strong>{{ property|verbose_name:"quartos" }}:</strong>
                        <span>{{ property.quartos|default:"-" }}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>{{ property|verbose_name:"banheiros" }}:</strong>
                        <span>{{ property.banheiros|default:"-" }}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>{{ property|verbose_name:"suites" }}:</strong>
                        <span>{{ property.suites|default:"-" }}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>{{ property|verbose_name:"elevador" }}:</strong>
                        <span>{{ property.elevador|yesno:"Sim,Não" }}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>{{ property|verbose_name:"vagas_garagem" }}:</strong>
                        <span>{{ property.vagas_garagem|default:"-" }}</span>
                      </li>

                      <li class="d-flex justify-content-between">
                        <strong>{{ property|verbose_name:"funcionarios" }}:</strong>
                        <span>{{ property.funcionarios|yesno:"Sim,Não" }}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>{{ property|verbose_name:"churrasqueira" }}:</strong>
                        <span>{{ property.churrasqueira|yesno:"Sim,Não" }}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>{{ property|verbose_name:"piscina" }}:</strong>
                        <span>{{ property.piscina|yesno:"Sim,Não" }}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>{{ property|verbose_name:"lavanderia" }}:</strong>
                        <span>{{ property.lavanderia|yesno:"Sim,Não" }}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>{{ property|verbose_name:"portaria24" }}:</strong>
                        <span>{{ property.portaria24|yesno:"Sim,Não" }}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>{{ property|verbose_name:"zelador" }}:</strong>
                        <span>{{ property.zelador|yesno:"Sim,Não" }}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>{{ property|verbose_name:"pet" }}:</strong>
                        <span>{{ property.pet|yesno:"Sim,Não" }}</span>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-lg-7 section-md-t3">
                <div class="property-description">
                  <div class="title-box-d section-t3">
                    <h3 class="title-d">Descrição</h3>
                  </div>
                  <p class="description color-text-a">{{ property.descricao|default:"Não foi informado mais detalhes. Entre em contato em caso de dúvidas." }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10 offset-md-1">
            <ul class="nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
              {% if property.google_map %}
              <li class="nav-item">
                <a class="nav-link active" id="pills-map-tab" data-bs-toggle="pill" href="#pills-map" role="tab" aria-controls="pills-map" aria-selected="true">Localização</a>
              </li>
              {% endif %}
              {% if property.video_yt %}
              <li class="nav-item">
                <a class="nav-link" id="pills-video-tab" data-bs-toggle="pill" href="#pills-video" role="tab" aria-controls="pills-video" aria-selected="false">Video</a>
              </li>
              {% endif %}
            </ul>
            <div class="tab-content" id="pills-tabContent">
              {% if property.google_map %}
              <div class="tab-pane fade show active" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
                {% autoescape off %}
                  {{ property.google_map }}
                {% endautoescape %}
              </div>
              {% endif %}
              {% if property.video_yt %}
              <div class="tab-pane fade" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
                {% autoescape off %}
                  {{ property.video_yt }}
                {% endautoescape %}
              </div>
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Property Single-->

  </main><!-- End #main -->
{% endblock %}