{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-9">
            <div class="title-single-box">
              <h1 class="title-single">Desenvolvimento imobiliário</h1>
              <span class="color-text-a">
                <p><strong>Descubra uma Abordagem Inovadora para Investir e Viver Seu Imóvel com a 20 Pés!</strong></p>
                <p>Na 20 Pés, não apenas desenvolvemos empreendimentos, mas proporcionamos a você uma oportunidade única de investimento e estilo de vida. Ao adquirir um imóvel conosco, não só você conta com produtos de alto padrão, qualidade e bom gosto, mas também tem a opção de rentabilizá-lo em poucos meses.</p>
                <p>Ao escolher a 20 Pés, você adquire mais do que uma propriedade; você investe em uma experiência completa. Sob nossa gestão especializada, transformamos sua casa em um ativo pronto para ser utilizado e alugado. Imagine ter uma casa de veraneio à beira-mar, desfrutando de momentos especiais com sua família e amigos, enquanto a possibilidade de locação é cuidada sem dor de cabeça ou esforço.</p>
                <p>Nossa supervisão abrange amplamente seu imóvel, realizando gestão, manutenção e garantindo o funcionamento total da casa para locação. Cuidamos de todos os detalhes, desde a organização da agenda do imóvel até a conservação, com responsabilidade e segurança.</p>
                <p>Destacamos que esses são os diferenciais da 20 Pés: desenvolvemos e incorporamos empreendimentos, oferecendo a você a oportunidade de adquirir um imóvel já pronto para usufruir e rentabilizar. Para aqueles que já possuem uma casa e desejam deixá-la sob nossa gestão, proporcionamos a mesma expertise e comprometimento.</p>
                <p>Nossas taxas de rentabilidade são muito mais atrativas do que as obtidas com bancos, proporcionando uma abordagem inovadora e lucrativa para o investimento imobiliário. Conte conosco para transformar sua visão de investimento e aproveitar o melhor do seu imóvel com a 20 Pés.</p>
              </span>
            </div>
          </div>
          <div class="col-md-12 col-lg-3">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Desenvolvimento
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Contact Single ======= -->
    <section class="contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-7">

                <form action="{% url 'contactus' %}" method="post" class="php-email-form" autocomplete="off">
                    {% bootstrap_messages %}
                    {% csrf_token %}
                    {% bootstrap_form form layout='inline' %}
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-a">Enviar</button>
                      </div>
                </form>

              </div>
              <div class="col-md-5 section-md-t3">
                <div class="icon-box-content mb-4">Não hesite em nos contatar para descobrir como a 20 Pés pode tornar seus sonhos imobiliários realidade. Estamos ansiosos para ouvir de você e iniciar uma jornada rumo a experiências de vida excepcionais e investimentos sólidos.</div>
                <div class="icon-box section-b2">
                  <div class="icon-box-icon">
                    <span class="bi bi-envelope"></span>
                  </div>
                  <div class="icon-box-content table-cell">
                    <div class="icon-box-title">
                      <h4 class="icon-title">Diga Olá!</h4>
                    </div>
                    <div class="icon-box-content">
                      <p class="mb-1">E-mail.
                        <span class="color-a">contact@example.com</span>
                      </p>
                      <p class="mb-1">Telefone.
                        <span class="color-a">+54 356 945234</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="icon-box section-b2">
                  <div class="icon-box-icon">
                    <span class="bi bi-geo-alt"></span>
                  </div>
                  <div class="icon-box-content table-cell">
                    <div class="icon-box-title">
                      <h4 class="icon-title">Endereço</h4>
                    </div>
                    <div class="icon-box-content">
                      <p class="mb-1">
                        Manhattan, Nueva York 10036,
                        <br> São Paulo - SP
                      </p>
                    </div>
                  </div>
                </div>
                <div class="icon-box">
                  <div class="icon-box-icon">
                    <span class="bi bi-share"></span>
                  </div>
                  <div class="icon-box-content table-cell">
                    <div class="icon-box-title">
                      <h4 class="icon-title">Redes Sociais</h4>
                    </div>
                    <div class="icon-box-content">
                      <div class="socials-footer">
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-facebook" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-twitter" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-instagram" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-linkedin" aria-hidden="true"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Single-->

  </main><!-- End #main -->

{% endblock %}