{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Nossos maravilhosos imóveis</h1>
              <span class="color-text-a">Destaques</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <p><strong>Transforme Seu Imóvel em um Investimento Lucrativo com a 20 Pés!</strong></p>
                  <p>Você já pensou em transformar seu apartamento em uma fonte contínua de renda? Com a 20 Pés, essa visão torna-se uma realidade em poucos meses. Deixe-nos cuidar de todos os detalhes, desde o projeto de arquitetura até o enxoval, da mobília à decoração. Com a nossa expertise, o processo de rentabilização do seu imóvel começa desde a entrega, sem que você tenha que se preocupar com nada.</p>

                  <p><strong>Nossos Serviços Abrangem Todo o Processo de Obra:</strong></p>
                  <p>Ao escolher a 20 Pés, você não está apenas investindo em um serviço, mas em todo um processo integrado. A partir da entrega das chaves, iniciamos a execução do projeto, entregando seu imóvel pronto para morar ou rentabilizar em poucos meses.</p>

                  <p><strong>Pensado para Sua Comodidade e Rentabilidade:</strong></p>
                  <p>Nosso projeto é meticulosamente elaborado para garantir que seu imóvel exija baixa manutenção, ofereça alta durabilidade e proporcione um excelente custo-benefício. Queremos que seu investimento seja não apenas uma fonte de renda, mas também uma decisão inteligente para o seu futuro.</p>
                  <p>Transforme seu espaço em um ativo valioso com a 20 Pés. Solicite um orçamento agora e descubra como podemos fazer do seu imóvel uma fonte de lucro constante!</p>

                  <p><a href="{% url 'property-new-Auth' %}">Clique aqui e pré-cadastre seu imóvel para análise e entraremos em contato!</a></p>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          {% comment %}
          <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-9"></div>
                <div class="col-sm-3">
                    <div class="grid-option">
                        <form>
                          <select class="form-select">
                            <option selected>Todos</option>
                            <option value="1">Recentes</option>
                            <option value="2">Locações</option>
                            <option value="3">Para Venda</option>
                          </select>
                        </form>
                      </div>
                </div>
            </div>
          </div>
          {% endcomment %}

          {% if imoveis %}
            {% for i in imoveis %}
                <div class="col-md-4">
                    <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="/media/{{ i.imagem }}" alt="" class="img-a img-fluid" style="height: 400px;">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                        <div class="card-header-a">
                            <h3 class="card-title-a">
                            <a href="{% url 'property-single' slug=i.slug %}">{{ i.titulo }}
                                {% if i.cidade %}
                                  <br />{{ i.cidade|default:"" }}-{{ i.uf|default:"" }}</a>
                                {% endif %}
                            </h3>
                        </div>
                        <div class="card-body-a">
                            <a href="{% url 'property-single' slug=i.slug %}" class="link-a">Saiba mais
                            <span class="bi bi-chevron-right"></span>
                            </a>
                        </div>
                        <div class="card-footer-a">
                            <ul class="card-info d-flex justify-content-around">
                              {% if i.area %}<li>
                                <h4 class="card-info-title">Area</h4>
                                <span>{{ i.area }}m
                                <sup>2</sup>
                                </span>
                            </li>{% endif %}
                            <li>
                                <h4 class="card-info-title">Quartos</h4>
                                <span>{{ i.quartos|default:"-" }}</span>
                            </li>
                            <li>
                                <h4 class="card-info-title">Banheiros</h4>
                                <span>{{ i.banheiros|default:"-" }}</span>
                            </li>
                            <li>
                                <h4 class="card-info-title">Garagens</h4>
                                <span>{{ i.vagas_garagem|default:"Não" }}</span>
                            </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
          {% else %}
            <div class="course-content">
                <div class="d-flex justify-content-between text-center m-4">
                <h2 class="text-center">Nenhum produto encontrado nesta categoria.</h2>
                </div>
            </div>
          {% endif %}

        </div>
        <div class="row">
          <div class="col-sm-12">
            {% include 'pagination.html' %}
          </div>
        </div>

      </div>
    </section><!-- End Property Grid Single-->

  </main><!-- End #main -->

{% endblock %}